@model IEnumerable<PrimeiroApp.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}


<p><a class= "btn btn-primary" asp-action="CadastrarUsuario" asp-controller="Usuario">Cadastrar New</a></p>

<div class=" table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeUsu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeUsu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>